<div class='section-center'>
	<div class='title'></div>
	<div class='content-center'>
		<div class='col-md-2 system-menus'>
			<div class="menu-wrap nav nav-tabs" role="tablist">
				<div class="wrap-box">
					<div class="wrap-border border_{{current_tab}}" ></div>
					<div class="menu-item current " ng-class="{true:'in current',false:''}[current_tab == 1]" role="presentation" >
						<a aria-controls="car" role="tab" data-toggle="tab" ng-click="toggle(1)">崇州车载前置管理系统</a>
					</div>
					<div class="menu-item" ng-class="{true:'in current',false:''}[current_tab == 2]">
						<a  aria-controls="servant" role="tab" data-toggle="tab" ng-click="toggle(2)">崇州市公务员考核系统</a>
					</div>
					<div class="menu-item" ng-class="{true:'in current',false:''}[current_tab == 3]">
						<a aria-controls="gov" role="tab" data-toggle="tab" ng-click="toggle(3)">成都•崇州市政务审批服务平台</a>
					</div>
					<div class="menu-item" ng-class="{true:'in current',false:''}[current_tab == 4]">
						<a  aria-controls="area" role="tab" data-toggle="tab" ng-click="toggle(4)">成都市区域自动站监测平台</a>
					</div>
					<div class="menu-item" ng-class="{true:'in current',false:''}[current_tab == 5]">
						<a  aria-controls="weather" role="tab" data-toggle="tab" ng-click="toggle(5)">成都市公共气象服务平台</a>
					</div>
					<div class="menu-item" ng-class="{true:'in current',false:''}[current_tab == 6]">
						<a  aria-controls="honor" role="tab" data-toggle="tab" ng-click="toggle(6)">成都•崇州市信用网</a>
					</div>
				</div>
			</div>
		</div>
		<div class='col-md-10 system-profile'>
			<div class="tab-content">
				<!--崇州车载前置管理系统-->
				<div role="tabpanel" class="tab-pane fade in active" ng-class="{true:'in active',false:'inactive'}[current_tab == 1]" id="car" ng-show='current_tab == 1'>
					<div class='col-md-5'>
						<div class="car-info-wrap" >
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_1.png" alt="累计交易天府通卡数量">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">累计交易天府通卡数量</h4>
										<div class="item-num"><span>{{Vehicle.all}}</span> 张</div>
									</div>
								</div>
							</div>
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_2.png" alt="前一天交易">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">前一天交易</h4>
										<div class="item-num"><span>{{Vehicle.yesterday}}</span> 笔</div>
									</div>
								</div>
							</div>
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_3.png" alt="最近一周累计交易">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一周累计交易</h4>
										<div class="item-num"><span>{{Vehicle.week}}</span> 笔</div>
									</div>
								</div>
							</div>
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_4.png" alt="最近一月累计交易金额">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一月累计交易金额</h4>
										<div class="item-num"><span>{{Vehicle.month}}</span> 元</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='col-md-7'>
						<div wiserv-chart-car class="chart-car"></div>
						<div class="update-time text-right">数据更新时间：<span>{{update_day_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
					</div>
				</div>
				<!--崇州市公务员考核系统-->
				<div role="tabpanel" class="tab-pane fade" ng-class="{true:'in active',false:'inactive'}[current_tab == 2]" id="servant" ng-show='current_tab == 2'>
					<div class="col-md-2 car-info-wrap">
						<div class="item text-center">
							<img src="assets/images/serv_total.png" alt="全市公务员人数" />
							<p class="text-center serv-title">全市公务员人数</p>
							<div class="item-num"><span>{{CivilServant.all}}</span> </div>
						</div>
						
					</div>
					<div class="col-md-10 ">
						<div class="serv-right">
							<div class="serv-up-wrap">
								<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_1.png" alt="全市事业人员人数">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">全市事业人员人数</h4>
										<div class="item-num"><span>{{CivilServant.careerPersonnel}}</span> </div>
									</div>
								</div>
							</div>
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_2.png" alt="前一天在岗人数">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">前一天在岗人数</h4>
										<div class="item-num"><span>{{CivilServant.onTheJob}}</span> </div>
									</div>
								</div>
							</div>
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_3.png" alt="前一天迟到人数">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">前一天迟到人数</h4>
										<div class="item-num"><span>{{CivilServant.beLate}}</span> </div>
									</div>
								</div>
							</div>
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_4.png" alt="前一天早退人数">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">前一天早退人数</h4>
										<div class="item-num"><span>{{CivilServant.leaveEarly}}</span> </div>
									</div>
								</div>
							</div>
							</div>
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_5.png" alt="前一天提交的工作日志数量">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">前一天<br/>提交的工作日志数量</h4>
										<div class="item-num"><span>{{CivilServant.daily}}</span> </div>
									</div>
								</div>
							</div>
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_6.png" alt="最近一周提交工作周报数量">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一周<br/>提交工作周报数量</h4>
										<div class="item-num"><span>{{CivilServant.weekly}}</span> </div>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/serv_ico_7.png" alt="最近一季度考核成绩100分-80分人数">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一季度考核成绩<br/>100分-80分人数</h4>
										<div class="item-num"><span>{{CivilServant.quarter}}</span> </div>
									</div>
								</div>
							</div>
							<div class="col-md-3 serv-item">
								<div class="media">
									<div class="media-left">
										
									</div>
									<div class="media-body" style="padding-left: 5rem;">
										<img class="media-object" src="assets/images/serv_ico_8.png" alt="...">
									</div>
								</div>
							</div>
						</div>
						<div class="update-time text-right">数据更新时间：<span>{{update_day_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
					</div>
				</div>
				<!--成都•崇州市政务审批服务平台-->
				<div role="tabpanel" class="tab-pane fade" ng-class="{true:'in active',false:'inactive'}[current_tab == 3]" id="gov" ng-show='current_tab == 3'>
					<div class="gov-wrap">
						<div class="col-md-2 gov-item" style="padding:7.2rem 2rem">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/gov_ico_1.png" alt="全市累计办件数量">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">全市累计办件数量</h4>
									<div class="item-num"><span>{{GovernmentApprovalSystem.finishAll}}</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-2 gov-item">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/gov_ico_2.png" alt="法人申请办件">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">累计</h4>
									<div class="item-num"><span>{{GovernmentApprovalSystem.legalPerson}}</span> </div>
									<h4 >个法人申请办件</h4>
								</div>
							</div>
						</div>
						<div class="col-md-2 gov-item">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/gov_ico_3.png" alt="自然人申请办件">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">累计</h4>
									<div class="item-num"><span>{{GovernmentApprovalSystem.naturalPerson}}</span> </div>
									<h4 >个自然人申请办件</h4>
								</div>
							</div>
						</div>
						<div class="col-md-2 gov-item">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/gov_ico_4.png" alt="前一天新提交">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">前一天新提交</h4>
									<div class="item-num"><span>{{GovernmentApprovalSystem.finishYesterday}}</span> </div>
									<h4 >个办件</h4>
								</div>
							</div>
						</div>
						<div class="col-md-2 gov-item">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/gov_ico_5.png" alt="累计办结">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">最近一个月非常满意</h4>
									<div class="item-num">
										<span>{{GovernmentApprovalSystem.satisfiedAppraise }}</span> </div>
									<h4 >个办件</h4>
								</div>
							</div>
						</div>
						
						
						<div class="col-md-2 gov-item bg-none">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/gov_ico_6.png" alt="截止前一天超时">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">最近一个月未评价</h4>
									<div class="item-num">
										<span>{{GovernmentApprovalSystem.noAppraise}}</span> </div>
									<h4 >个办件</h4>
								</div>
							</div>
						</div>
						<div class="update-time text-right">数据更新时间：<span>{{update_day_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
					</div>
				</div>
				<!--成都市区域自动站监测平台-->
				<div role="tabpanel" class="tab-pane fade" ng-class="{true:'in active',false:'inactive'}[current_tab == 4]" id="area" ng-show='current_tab == 4'>
					<div class="area-wrap">
						<div class="col-md-4 area-item">
							<img src="assets/images/area_1.png" alt="地图" width="60%" />
							<div class="watch-info">
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">成都市监测站个数</h4>
										<div class="item-num">
											<span>{{MeteorologicalObservationStation.chengdu}}</span> </div>
									</div>
								</div>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">崇州市监测站个数</h4>
										<div class="item-num">
											<span>{{MeteorologicalObservationStation.chongzhou}}</span> 
										</div>
									</div>
								</div>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">前一天新增监测个数</h4>
										<div class="item-num">
											<span>{{MeteorologicalObservationStation.yesterday}}</span> 
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 area-item">
							<div class="col-md-4 area-detail">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/area_2.png" alt="最近一小时最高温">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一小时最高温</h4>
										<div class="item-num"><span>{{Mos_maxTemperature.zgqw/10}}°C</span> </div>
									</div>
									<p class="info-label">监测站名：{{Mos_maxTemperature.zm}}</p>
									<p class="info-label">出现时间：{{Mos_maxTemperature.rksj}}</p>
								</div>
							</div>
							<div class="col-md-4 area-detail">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/area_3.png" alt="最近一小时最低温度">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一小时最低温度</h4>
										<div class="item-num"><span>{{Mos_minTemperature.zdqw/10}}°C</span> </div>
									</div>
									<p class="info-label">监测站名：{{Mos_minTemperature.zm}}</p>
									<p class="info-label">出现时间：{{Mos_minTemperature.rksj}}</p>
								</div>
							</div>
							<div class="col-md-4 area-detail">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/area_4.png" alt="最近一小时最大降水">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一小时最大降水</h4>
										<div class="item-num"><span>{{Mos_maxRainfall.yxsyl}}mm</span> </div>
									</div>
									<p class="info-label">监测站名：{{Mos_maxRainfall.zm}}</p>
									<p class="info-label">出现时间：{{Mos_maxRainfall.rksj}}</p>
								</div>
							</div>
						</div>
						<div class="update-time text-right">数据更新时间：<span>{{update_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
					</div>
				</div>
				<!--成都市公共气象服务平台-->
				<div role="tabpanel" class="tab-pane fade" ng-class="{true:'in active',false:'inactive'}[current_tab == 5]" id="weather" ng-show='current_tab == 5'>
					<div class="weather-wrap">
						<div class="col-md-6 bg-line">
							<div class="weather-item">
								<h3 class="weather-title">短时天气预报<a class="pull-right">更多</a></h3>
								<div class="weather-info">{{WeatherForecast.context}}</div>
							</div>
							
							<div class="weather-time text-right">
								<div class="refresh-bg">
									<div class="refresh"></div>
								</div>
								<h3>{{WeatherForecast.department}}</h3>
								<h4>{{WeatherForecast.publishTime}}</h4>
							</div>
						</div>
						<div class="col-md-6">
							
							<div class="weather-item">
								<h3 class="weather-title">最新灾害性天气预警</h3>
								<div class='weather-scroll' >
									<div class="weather-info" ng-repeat="item in DisasterWarning"><label class="info-type">{{item.theam}}</label>{{item.warningContext}}</div>
									
									<!-- <div class="weather-info"><label class="info-type">崇州市解除第38号暴雨黄色预警信号</label>19日01时开始，我市部分乡镇出现短时强降水，预计未来6小时内我<span>市降雨持续，部分乡镇降雨量可达暴雨，请注意防范暴雨、雷电、大风带来的不利影响。</span></div>
									<div class="weather-info"><label class="info-type">崇州市解除第38号暴雨黄色预警信号</label>19日01时开始，我市部分乡镇出现短时强降水，预计未来6小时内我<span>市降雨持续，部分乡镇降雨量可达暴雨，请注意防范暴雨、雷电、大风带来的不利影响。</span></div> -->
								</div>
								<a ng-show='hide_disaster' ng-click="getTimingData()" class="no-disaster"><img src="assets/images/no_disaster.png" width='70%' /></a>
							</div>
							
							<div class="weather-time text-right" ng-show='!hide_disaster'>
								<div class="refresh-bg">
									<div class="refresh"></div>
								</div>
								<h3>{{DisasterWarning[0].department}}</h3>
								<h4>{{DisasterWarning[0].publishTime}}</h4>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" ng-class="{true:'in active',false:'inactive'}[current_tab == 6]" id="honor" ng-show='current_tab == 6'>
					<div class="honor-wrap">
						<div class="col-md-3 honor-item">
							<div class="media">
								<div class="media-left">
									<a>
										<img class="media-object" src="assets/images/honor.png" alt="全市市场主体个数" style="width:200px">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">全市市场主体个数</h4>
									<div class="item-num"><span>{{CreditWebOne.marketSubject}}</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-3 honor-item corner" style="width:23%">
							<div class="item-inner">
								<div class="item-detail">全市上月企业诉讼案件个数：<span class="item-number">{{CreditWebOne.litigation}}</span></div>
								<div class="item-detail">全市上月受行政处罚市场主体个数：<span class="item-number">{{CreditWebOne.punish}}</span></div>
								<div class="item-detail">全市上月受工商行政处罚市场主体数：<span class="item-number">{{CreditWebOne.punishByBusiness}}</span></div>
							</div>
						</div>
						<div class="col-md-3 honor-item corner center" style="width: 25%;">
							<div class="item-inner ">
								<div class="item-detail ">最近一月新准入市场主体个数：<span class="item-number">{{CreditWebTwo.admittance}}</span></div>
								<div class="item-detail">最近一月主体市场退出个数：<span class="item-number">{{CreditWebTwo.leave}}</span></div>
								<div class="item-detail">最近一月注销市场主体数：<span class="item-number">{{CreditWebTwo.cancel}}</span></div>
								<div class="item-detail">最近一月吊销市场主体数：<span class="item-number">{{CreditWebTwo.revoke}}</span></div>
							</div>
						</div>
						<div class="col-md-3 honor-item corner last" style="width:26%">
							<div class="item-inner ">
								<div class="item-detail ">全市缴纳公积金企业数：<span class="item-number">{{CreditWebThree.fund}}</span></div>
								<div class="item-detail">全市受表彰市场主体个数：<span class="item-number">{{CreditWebThree.commendation}}</span></div>
								<div class="item-detail">全市获得专利企业数：<span class="item-number">{{CreditWebThree.patent}}</span></div>
								<div class="item-detail">全市受行政表彰市场主体个数：<span class="item-number">{{CreditWebThree.administrationCommend}}</span></div>
								<div class="item-detail">全市上年度拖欠水电费市场主体个数：<span class="item-number">{{CreditWebThree.waterAndElectricity}}</span></div>
							</div>
						</div>
						<div class="update-time text-right">数据更新时间：<span>{{update_day_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>