<div class='section-center'>
	<div class='title'></div>
	<div class='content-center'>
		<div class='col-md-2 system-menus'>
			<div class="menu-wrap nav nav-tabs" role="tablist">
				<div class="menu-item active current" role="presentation" >
					<a aria-controls="car" role="tab" data-toggle="tab" ng-click="toggle(1)">崇州车载前置管理系统</a>
				</div>
				<div class="menu-item">
					<a  aria-controls="servant" role="tab" data-toggle="tab" ng-click="toggle(2)">崇州市公务员考核系统</a>
				</div>
				<div class="menu-item">
					<a aria-controls="gov" role="tab" data-toggle="tab" ng-click="toggle(3)">成都•崇州市政务审批服务平台</a>
				</div>
				<div class="menu-item">
					<a  aria-controls="area" role="tab" data-toggle="tab" ng-click="toggle(4)">成都市区域自动站监测平台</a>
				</div>
				<div class="menu-item">
					<a  aria-controls="weather" role="tab" data-toggle="tab" ng-click="toggle(5)">成都市公共气象服务平台</a>
				</div>
				<div class="menu-item">
					<a  aria-controls="honor" role="tab" data-toggle="tab" ng-click="toggle(6)">成都•崇州市信用网</a>
				</div>
			</div>
		</div>
		<div class='col-md-10 system-profile'>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="car" ng-show='current_tab == 1'>
					<div class='col-md-5'>
						<div class="car-info-wrap" >
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_1.png" alt="累计交易天府通卡数量">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">累计交易天府通卡数量</h4>
										<div class="item-num"><span>3000</span> 张</div>
									</div>
								</div>
							</div>
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_2.png" alt="前一天交易">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">前一天交易</h4>
										<div class="item-num"><span>3000</span> 笔</div>
									</div>
								</div>
							</div>
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_3.png" alt="最近一周累计交易">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一周累计交易</h4>
										<div class="item-num"><span>50000</span> 笔</div>
									</div>
								</div>
							</div>
							<div class="item col-md-6">
								<div class="media">
									<div class="media-left">
										<a>
											<img class="media-object" src="assets/images/car_ico_4.png" alt="最近一月累计交易金额">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">最近一月累计交易金额</h4>
										<div class="item-num"><span>500</span> 元</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='col-md-7'>
						<div wiserv-chart-car class="chart-car"></div>
						<div class="update-time text-right">数据更新时间：<span>2017-7-27 14:01:00</span></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="servant" ng-show='current_tab == 2'>2</div>
				<div role="tabpanel" class="tab-pane fade" id="gov" ng-show='current_tab == 3'>3</div>
				<div role="tabpanel" class="tab-pane fade" id="area" ng-show='current_tab == 4'>4</div>
				<div role="tabpanel" class="tab-pane fade" id="weather" ng-show='current_tab == 5'>5</div>
				<div role="tabpanel" class="tab-pane fade" id="honor" ng-show='current_tab == 6'>6</div>
			</div>
		</div>
	</div>
</div>