<div class="slider autoplay">
  <div class="pic">
    <a data-href="http://192.168.13.73:8080/gdm/" target="_blank" ><img src="assets/images/r1-1.png" alt='政务决策应用'></a>
  </div>
  <div class="pic">
    <a data-href="http://221.0.111.143:9999/" target="_blank"><img src="assets/images/r1-2.png"  alt='政府舆情'></a>
  </div>
  <div class="pic">
    <a data-href="http://sts.zaigongyi.com" target="_blank" ><img src="assets/images/r1-3.png" alt='数据金融监管'></a>
  </div>
  <div class="pic">
    <a  target="_blank"><img src="assets/images/r1-8.png"  alt='污染源监测平台'></a>
  </div>
  <div class="pic">
    <a data-ids="http://125.71.209.57:100" target="_blank" ><img src="assets/images/r1-5.png" alt="智慧安检" ></a>
  </div>
  <div class="pic">
    <a data-href="http://www.chinawiserv.com/index.php?s=/Scgov/User/login.html" target="_blank" ><img src="assets/images/r1-7.png" alt="政务网站数据分析"></a>
  </div>
  <div class="pic">
    <a target="_blank"><img src="assets/images/r1-0.png" alt="综合执法"></a>
  </div>
  <div class="pic">
    <a  target="_blank"><img src="assets/images/r1-9.png"  alt='地表水监控平台'></a>
  </div>
  <div class="pic">
    <a  target="_blank"><img src="assets/images/r1-10.png"  alt='法官智能判案系统'></a>
  </div>
</div>
