<div class="slider autoplay">
  <div class="pic">
    <a data-href="http://192.168.13.73:8080/gdm/" target="_blank"><img width='100%' src="assets/images/r1-1.png"></a>
  </div>
  <div class="pic">
    <!-- <a data-href="http://hotyq.int-yt.com/login" target="_blank"><img src="images/s2.png" /></a> -->
    <a data-href="http://221.0.111.143:9999/" target="_blank"><img width='100%' src="assets/images/r1-2.png"></a>
  </div>
  <div class="pic">
    <a data-href="http://sts.zaigongyi.com" target="_blank"><img width='100%' src="assets/images/r1-3.png"></a>
  </div>
  <!--  <li>
          <div class="pic">
          <a data-href="http://124.161.245.148:8080/yaecp/rest/sysUserManageAction/main" target="_blank"><img src="images/r1-4.png" /></a>
          <a data-href="#" target="_blank"><img src="images/r1-4.png" alt="错误图片：综合执法" /></a>
          </div>
        </li> -->
  <div class="pic">
    <!-- 61.188.18.254:8888/bzszhaj/ -->
    <a data-ids="http://125.71.209.57:100" target="_blank" alt="智慧安检"><img src="assets/images/r1-5.png"></a>
  </div>
  <div class="pic">
    <a data-href="http://www.chinawiserv.com/index.php?s=/Scgov/User/login.html" target="_blank" alt="政务网站数据分析"><img src="assets/images/r1-7.png"></a>
  </div>
</div>
