<div class="slider autoplay " >
  <div class="pic">
    <a data-ids="http://www.freedt.cn/v1/html/bidding_search.jsp" target="_blank"><img alt='全国招投标信息数据服务' src="assets/images/r2-1.png"></a>
  </div>
  <div class="pic">
    <a data-ids="http://www.freedt.cn/v1/html/tender/tender02.jsp" target="_blank"><img alt='人力资源背景调查数据服务' src="assets/images/r2-3.png"></a>
  </div>
  <div class="pic">
    <a data-img="assets/images/zh.png" ><img src="assets/images/r2-5.png" alt="智慧社区"></a>
  </div>
  <div class="pic">
    <a data-href="http://www.datashuo.net:8988/service/select" target="_blank"><img alt='个人征信数据服务' src="assets/images/r2-2.png"></a>
  </div>

  <div class="pic">
    <a data-ids="http://www.freedt.cn/v1/html/tender/tender01.jsp"><img src="assets/images/r2-4.png" alt="个人金融风险评估报告"></a>
  </div>

  <div class="pic">
    <!-- <a  data-href="http://www.cbdiia.org" alt="数据分析平台"><img src="images/r2-6.png" alt="数据分析平台"></a> -->
    <a data-ids="http://demo.zpudata.com/" ><img src="assets/images/r2-6.png" alt="数据分析平台"></a>
  </div>
  <div class="pic">
    <a ><img src="assets/images/r2-7.png" alt="智慧养老"></a>
  </div>
  <div class="pic">
    <a><img src="assets/images/r2-8.png" alt="今日品牌指数"></a>
  </div>
</div>
