<div class='section support'>
  <h1>数据驱动的应用及服务</h1>
  <div class='content app-support'>
    <div class='support-wrap'>
    <div class="row">
      <div class="col-lg-5 col-sm-5">
        <div class="tab-box tab-menu">
          <span class="text-center desc-left">
            <a data-href="http://192.168.13.73:8080/gdm/" target="_blank">政务决策应用</a>
            <a data-href="http://221.0.111.143:9999/" target="_blank">政府舆情</a>
            <a data-href="http://sts.zaigongyi.com/" target="_blank">数据金融监管</a>
          </span>
          <div class="center-bg text-center">
            <img src="assets/images/icon-n3-max.png" alt="">
          </div>
          <span class="text-center desc-right">
            <!-- 61.188.18.254:8888/bzszhaj/ -->
            <a data-ids="http://125.71.209.57:100" target="_blank">智慧安监</a>
            <!-- <a data-href="">精准扶贫</a> -->
            <a data-href="http://www.chinawiserv.com/index.php?s=/Scgov/User/login.html">政务网站数据分析</a>
            <a>综合执法</a>
          </span>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <!-- 幻灯片 -->
        <div class="govbanner">
          <div class="bd">
            <div wiserv-image-play></div>
          </div>
        </div>
        <!-- 幻灯片 end-->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-sm-5">
        <div class="tab-box tab-menu tab-down">
          <span class="desc-left text-center">
            <a data-ids="http://www.freedt.cn/v1/html/bidding_search.jsp" target="_blank" alt="全国招投标信息数据服务">全国招投标信息数据服务</a>
            <a data-ids="http://www.freedt.cn/v1/html/tender/tender02.jsp" target="_blank" alt="人力资源背景调查数据服务">人力资源背景调查数据服务</a>
            <a data-img="assets/images/zh.png" alt="智慧社区">智慧社区</a>
          </span>
          <div class="center-bg text-center">
            <img src="assets/images/icon-n3-max2.png" alt="">
          </div>
          <span class="desc-right text-center">
            <a data-href="http://www.datashuo.net:8988/service/select" target="_blank" alt="个人征信数据服务">个人征信数据服务</a>
            <a data-ids="http://www.freedt.cn/v1/html/tender/tender01.jsp" target="_blank" alt="个人金融风险评估报告">个人金融风险评估报告</a>
            <!-- <a data-href="http://www.cbdiia.org" alt="数据分析平台">数据分析平台</a> -->
            <a data-ids="http://demo.zpudata.com/" alt="数据分析平台">数据分析平台</a>
          </span>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <!-- 幻灯片 -->
        <div class="govbanner">
          <div class="bd">
            <div wiserv-image-playdown></div>
          </div>
        </div>
        <!-- 幻灯片 end-->
      </div>
    </div>
  </div>
  </div>
</div>
