<div class="dept-data-box-wrap" ng-mouseleave="mouseLeave()" ng-mouseenter="mouseEnter()">
  <a ng-click="deptToggleClick()" title="{{deptViewTitle}}" class="toggle-tag"><i class="glyphicon glyphicon-transfer"></i></a>
  <!--迁徙图-->
  <div class='section dept active' ng-class="{true:'active',false:'inactive'}[toggleMap == 1]">
    <h1>崇州市政务信息资源目录和共享情况</h1>
    <div class='content dept-data'>
      <div class='chart-full'>
        <div class='col-md-7' style="height:100%;">
          <div wiserv-chart-migrate style="height:100%;" id="migrate-wrap"></div>
        </div>
        <div class='col-md-5 dept-access-data'  >
          <h3 class="access-title">部门已接入数据资源（集）个数Top20</h3>
          <!-- <div wiserv-chart-access-data class="access-chart"></div> -->
          <div class="dept-access-rank" style="max-height: 450px;overflow: hidden;">
            <div class="progress-wrap  rank_{{$index+1}}" ng-repeat='item in deptAccessData track by $index'>
            <label class="dept-name" title={{item.DEP_NAME}}>{{item.DEP_NAME}}</label>
            <div class="progress dept-rank" >
              <div class="progress-bar active  progress-bar-striped" role="progressbar" aria-valuenow="{{item.dataNum}}" aria-valuemin="0" aria-valuemax="{{deptAccessMax}}" style="width: {{item.i_width}}">
                <span class="sr-only">已接入数据量{{item.dataNum}}</span>
              </div>
            </div>
            <span class="access-num">{{item.dataNum|number}}</span>
          </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </div>
  <!--概览-->
  <div class='section dept profile' ng-class="{true:'active',false:'inactive'}[toggleMap ==2]">
    <h1>崇州市政务信息资源目录和共享情况</h1>
    <div class='content dept-data'>
      <div class='chart-full profile-wrap' >
      
        <div>
          
          <div class="col-md-12">
            <div class="profile-right-wrap">
              <div class="profile-item col-md-6">
            <div class="media">
              <div class="media-left">
                <a>
                  <img class="media-object" src="assets/images/res_1.png" alt="覆盖政府部门和公共企事业机构个数">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">覆盖政府部门和公共企事业机构个数</h4>
                <div class="item-num"><span>{{ResourceCombing.organ|number}}</span></div>
              </div>
            </div>
          </div>
            <div class="col-md-6 profile-item">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_2.png" alt="信息资源目录树">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">信息资源目录数</h4>
                  <div class="item-num"><span>{{ResourceCombing.resource|number}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 profile-item">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_3.png" alt="目录数据项个数">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">目录数据项个数</h4>
                  <div class="item-num"><span>{{ResourceCombing.data|number}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 profile-item">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_4.png" alt="信息化系统个数">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">信息化系统个数</h4>
                  <div class="item-num"><span>{{ResourceCombing.system|number}}</span></div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div>
          
            <div class="col-md-12">
              <div class="profile-right-wrap">
                <div class=" profile-item col-md-6">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_8.png" alt="覆盖街道（乡镇）个数">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">覆盖街道（乡镇）个数</h4>
                  <div class="item-num"><span>{{25}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 profile-item">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_5.png" alt="信息资源目录个数/乡镇">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">乡镇信息资源目录个数</h4>
                  <div class="item-num"><span>{{555}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 profile-item">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_6.png" alt="目录数据项个数/乡镇">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">乡镇目录数据项个数</h4>
                  <div class="item-num"><span>{{5431}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 profile-item">
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" src="assets/images/res_7.png" alt="使用垂直信息系统个数/乡镇">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">乡镇使用垂直信息系统个数</h4>
                  <div class="item-num"><span>{{112}}</span></div>
                </div>
              </div>
            </div>
          </div>
            </div>
        </div>
        
        <div class="update-time text-right">数据更新时间：<span>{{update_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
      </div>
      
    </div>
  </div>
  <!--崇信签约-->
  <div class="section dept contract" ng-class="{true:'active',false:'inactive'}[toggleMap ==0]">
    <h1>应用催生数据 数据支撑业务</h1>
    <div class="content dept-data">
      <div class="chart-full">
        <div class="col-md-8" style="height:100%;">
          <div class="dot-wrap yb"><div class="dot-item"></div></div>
          <div class="dot-wrap yq"><div class="dot-item"></div></div>
          <div class="dot-wrap xz"><div class="dot-item"></div></div>
          <div class="dot-wrap sh"><div class="dot-item"></div></div>
          <div class="dot-wrap gs"><div class="dot-item"></div></div>
          <div class="dot-wrap zy"><div class="dot-item"></div></div>
          <div class="dot-wrap zs"><div class="dot-item"></div></div>
          <div class="item-data cq"><span class="number">200</span> T</div>
          <div class="item-data zy"><span class="number">1000</span> T</div>
          <div class="item-data gs"><span class="number">1800</span> <span class="unit">万条</span></div>
          <div class="item-data sh"><span class="number">8000</span><p class="unit">家企业</p></div>
          <div class="item-data xz"><span class="number">49</span> <span class="unit">万条</span></div>
          <div class="item-data yq"><span class="number">300</span> T</div>
          <div class="center-ico"></div>
          <div wiserv-chart-contract style="height:100%;" id="contract-wrap">
            
          </div>
        </div>
        <div class="col-md-4 accessing-wrap">
          <div class="accessing-bus">
            <div class="access-bg">接入中</div>
            <p class="access-item">四川省中药材数据</p>
          </div>
          <div class="accessing-bus">
            <div class="access-bg">接入中</div>
            <p class="access-item">成都审计数据</p>
          </div>
          <div class="accessing-bus">
            <div class="access-bg">接入中</div>
            <p class="access-item">公共资源交易数据</p>
          </div>
        </div>
        <div class="update-time text-right">数据更新时间：<span>{{update_date | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
      </div>
    </div>
  </div>
</div>