<div class='section'>
  <h1>各部门数据汇集情况</h1>
  <div class='content dept-data'>
    <div class='chart-full' wiserv-dept-data></div>
    <div class='deptdata-desc'>
      <p>完成
        <strong>12</strong>
        个政府单位共
        <strong>{{dashboard.deptData.depNum}}</strong>
        个科室的数据梳理采集;</p>
      <p>采集数据含
        <strong>{{dashboard.deptData.tableNum}}</strong>
        个项，
        <strong>{{dashboard.deptData.columnNum}}</strong>
        余子项;</p>
      <p>结合政府单位数据存放形态，编制了
        <strong>22</strong>
        种数据采集方案。</p>
    </div>
  </div>
</div>
