<div class="bigdata-box-wrap" ng-mouseleave="mouseIPCLeave()" ng-mouseenter="mouseIPCEnter()">
	<a ng-click="bigdataToggleClick()" title="{{deptViewTitle}}" class="toggle-tag"><i class="glyphicon glyphicon-transfer"></i></a>
	<div class='section bigdata' ng-class="{true:'active',false:'inactive'}[toggleIPC]">
	  <h1>崇州大数据产业综合指数</h1>
	  <div class='content big-data-indicate'>
	    <div class='bg-all'></div>
	  </div>
	</div>

	<div class='section bigdata' ng-class="{true:'active',false:'inactive'}[!toggleIPC]">
	  <h1>IPC（智慧处理中心）</h1>
	  <div class='content big-data-indicate'>
	  	<div class="col-md-8 ipc-wrap" style="height:100%;padding-left:70px" >
	  		<div class="solar-system">
	  			<div class="earth-bg"><div class="ipc-circle"><span>IPC</span><img  src="assets/images/circle.gif"/></div></div>
	  			<div class="inner-circle">
	  				<div class="pos tel-main"><span class="data-item ">电信(主)</span></div>
	  				<div class="pos tel-sub"><span class="data-item ">电信(备)</span></div>
	  				<div class="pos mob-main"><span class="data-item ">移动(主)</span></div>
	  				<div class="pos mob-sub"><span class="data-item ">移动(备)</span></div>
	  				<div class="pos uni-main"><span class="data-item ">联通(主)</span></div>
	  				<div class="pos uni-sub"><span class="data-item ">联通(备)</span></div>
	  				<div class="pos-ico tel-main-ico"></div>
	  				<div class="pos-ico tel-sub-ico"></div>
	  				<div class="pos-ico mob-main-ico"></div>
	  				<div class="pos-ico mob-sub-ico"></div>
	  				<div class="pos-ico uni-main-ico"></div>
	  				<div class="pos-ico uni-sub-ico"></div>
	  			</div>
	  			<div class="outer-circle">
	  				<div class="pos wanguo"><span class="data-item ">万国数据</span></div>
	  				<div class="pos edu" style="width:80px"><span class="data-item ">教育网</span></div>
	  				<div class="pos keqing" style="width:80px"><span class="data-item ">科情网</span></div>
	  				<div class="pos govin"><span class="data-item ">电子政务内网</span></div>
	  				<div class="pos govout"><span class="data-item ">电子政务外网</span></div>
	  				<div class="pos broad" style="width:80px"><span class="data-item ">广电</span></div>
	  				<div class="pos yuntao"><span class="data-item ">云滔数据</span></div>
	  				<div class="pos-ico wanguo-cio"></div>
	  				<div class="pos-ico edu-cio"></div>
	  				<div class="pos-ico keqing-cio"></div>
	  				<div class="pos-ico govin-cio"></div>
	  				<div class="pos-ico govout-cio"></div>
	  				<div class="pos-ico broad-cio"></div>
	  				<div class="pos-ico yuntao-cio"></div>
	  			</div>
	  		</div>
	  	</div>
	    <div class="col-md-4">
	    	<div class="ipc-infos">
	    		<h3>13条光纤直达<span class="emphasis">IPC智慧处理</span>中心</h3>
	    		<h3 class="sub-title">Intelligent Processing Center</h3>
	    		
	    		<div class="info-items">
	    			<p>连接数据，让数据进得来、存得下、出得去。</p>
		    		<p>不重复建设IDC，与各大主流IDC实现互联互通</p>
		    		<p>政府数据定为国有资产，授权国资大数据公司管理</p>
		    		<p>专注数据业务本身，通过智慧处理盘活数据资源</p>
		    		<p>城市就是一个IPC，计算天下，服务全国</p>
	    		</div>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>
</div>