#dashboard {
  width: 7680px;
  height: 2160px;
  overflow: hidden;
  // background:url(../assets/images/bg.png) no-repeat;
}
.section-center {
  width: 3840px;
  height: 1080px;
  float: left;
  background-size: 100% 100%;
  overflow: hidden;
  background: url("../assets/images/bg_2.png") center no-repeat;
  .title {
    width: 100%;
    height: 27.41%;
    background: url("../assets/images/bg_title.png") center no-repeat;
    background-size: 100% 100%;
  }
  .content-center {
    position: relative;
    height: 72.5%;
    // top:-58px;
    background: url("../assets/images/timeline.png") center no-repeat;
    background-size: 100% 100%;
    .light {
      width: 100%;
      height: 100%;
      background: url("../assets/images/timeline_light.png") center no-repeat;
      background-size: 100% 100%;
      -webkit-animation-name: slideInLeftLight;
      -moz-animation-name: slideInLeftLight;
      -ms-animation-name: slideInLeftLight;
      animation-name: slideInLeftLight;
      // -webkit-animation-delay:2.4s;
      // -moz-animation-delay:2.4s;
      // -ms-animation-delay:2.4s;
      // animation-delay:2.4s;
      -webkit-animation-duration: 4s;
      -moz-animation-duration: 4s;
      -o-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-delay: 6.4s;
      -moz-animation-delay: 6.4s;
      -ms-animation-delay: 6.4s;
      animation-delay: 6.4s;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animtaion-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;
      -ms-animation-duration: 1.4s;
      -ms-animation-fill-mode: both;
      -ms-animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
    }
  }
}
.section-main {
  width: 3840px;
  height: 2160px;
  overflow: hidden;
}
.section {
  width: 1920px;
  height: 1080px;
  padding: 0;
  float: left;
  overflow: hidden;
  &.city-datamap {
    background: url("../assets/images/bg_5.png") center no-repeat;
    background-size: 100% 100%;
    .content {
      background: url("../assets/images/bg_datamap.png") center no-repeat;
      background-size: 100% 100%;
    }
  }
  &.standard {
    background: url("../assets/images/bg_1.png") center no-repeat;
    background-size: 100% 100%;
  }
  &.dept {
    background: url("../assets/images/bg_3.png") center no-repeat;
    background-size: 100% 100%;
  }
  &.support {
    background: url("../assets/images/bg_4.png") center no-repeat;
    background-size: 100% 100%;
  }
  &.idcuse {
    background: url("../assets/images/bg_6.png") center no-repeat;
    background-size: 100% 100%;
  }
  &.bigdata {
    background: url("../assets/images/bg_7.png") center no-repeat;
    background-size: 100% 100%;
  }
  h1 {
    font-size: 2.1rem;
    color: #dbea05;
    font-family: '微软雅黑';
    font-weight: normal;
    margin: 0.5rem 0 0.5rem 0.5rem;
    line-height: 4.1rem;
    height: 7%;
  }
  .content {
    position: relative;
    // border: 1px solid rgba(0,225,227,1);
    height: 87%;
    // box-shadow: 0 0 0 1px rgba(0,153,234,1);
    &.app-support {
      background: url("../assets/images/bg_app_support.png") center no-repeat;
      background-size: 100% 100%;
      .support-wrap {
        padding: 1rem 0 3rem 1rem;
      }
      .tab-menu {
        padding: 30px;
        overflow: hidden;
        padding: 1rem;
        position: relative;

        .center-bg {
          img {}
        }
        .desc-left {
          position: absolute;
          left: 4%;
          top: 14%;
          width: 8rem;
          padding: 1rem 0;
        }
        .desc-right {
          position: absolute;
          right: 8%;
          top: 16%;
          width: 8rem;
          padding: 1rem 0;
        }
        img {}
        a {
          display: block;
          color: rgba(0,216,255,1);
          line-height: 1.5rem;
          font-size: 0.8rem;
          font-family: '微软雅黑';
          padding-top: 0.8rem;
        }
        &.tab-down {
          .desc-left {
            padding: 0.5rem 0;
            a {
              line-height: 0.9rem;
            }
          }
        }
        .subdown{
          a{
            padding-top: 0.1rem;
          }
        }
      }
      .govbanner {
        padding: 4rem 1rem;
        .slick-prev {
          width: 40px;
          height: 48px;
          background: url("../assets/images/arrow-prev.png") center no-repeat;
          &:before {
            content: '';
          }
        }
        .slick-next {
          width: 40px;
          height: 48px;
          background: url("../assets/images/arrow-next.png") center no-repeat;
          &:before {
            content: '';
          }
        }
      }
      .slick-slide {
        padding:0;
        a {
          display: block;
          text-align: center;
          img {
            display: inline !important;
            width:100%;
          }
        }
      }
    }
    &.standard-made {
      background: url("../assets/images/bg_standard_made.png") center no-repeat;
      background-size: 100% 100%;
    }
    &.idc-use {
      background: url("../assets/images/bg_IDC.png") center no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
      .exchange {
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0;
      }
    }
    &.dept-data {
      background: url("../assets/images/bg_dept_data.png") center no-repeat;
      background-size: 100% 100%;
    }
    &.big-data-indicate {
      background: url("../assets/images/bg_big_data.png") center no-repeat;
      background-size: 100% 100%;
      .bg-all {
        width: 100%;
        height: 100%;
        background: url("../assets/images/bg_bigdata.png") center no-repeat;
        background-size: 100%;
      }
    }
    .chart-left {
      width: 46%;
      float: left;
      height: 80%;
      #dockProgress {
        width: 100%;
        height: 100%;
        padding: 30px 20px;
      }
    }
    .chart-full {
      width: 86%;
      float: left;
      height: 100%;
      #deptData {
        width: 100%;
        height: 100%;
        padding: 30px 20px;
      }
    }
    .chart-idc-use {
      width: 86%;
      float: left;
      height: 76%;
      .svg-container{
        margin:0 auto;
      }
    }
    .deptdata-desc,
    .idcuse-desc {
      width: 14%;
      float: left;
      position: relative;
      top: 5%;
      bottom: 10%;
      right: 2%;
      padding: 0.8rem 0.5rem;
      border: 1px solid rgb(0, 216, 255);
      border-radius: 10px;
      box-shadow: 0 0 7px 6px rgb(12,58,103);
      background: rgba(0,216,255,.2);
      p {
        color: #FFF;
        font-size: 1.1rem;
        font-family: '微软雅黑';
        font-weight: normal;
        text-indent: 24px;
        line-height: inherit;
        strong {
          color: rgb(0,255,255);
          font-size: 1.2rem;
          font-weight: normal;
        }
      }
    }
    .chart-right {
      width: 54%;
      float: left;
      height: 80%;
      #dockDataset {
        width: 100%;
        height: 100%;
        padding: 0 20px;
      }
    }
    .idc-datatable {
      clear: left;
      width: 87%;
      margin: 0 auto;
      padding: 2rem 2rem 0 0;
      table {
        color: #e4e4e4;
        border: 1px solid #00bcde;
        background: rgba(0, 72, 101, 0.6);
        font-size: 14px;
        font-family: '微软雅黑';
        table-layout: fixed;
        tbody {
          tr:nth-of-type(odd) {
            background: rgba(3, 113, 156, 0.32);
          }
        }
        th,
        td {
          border: 1px solid #00bcde;
          text-align: center;
          font-weight: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    .data-category {
      width: 45%;
      float: left;
      h2 {
        color: #0ff;
        text-align: center;
        font-family: '微软雅黑';
        font-size: 32px;
        margin-top: 36px;
        margin-bottom: 20px;
      }
    }
    .data-map {
      width: 55%;
      float: left;
      h2 {
        color: #0ff;
        text-align: center;
        font-family: '微软雅黑';
        font-size: 32px;
        margin-top: 36px;
        margin-bottom: 20px;
      }
      .map-chart {
        width: 802px;
        height: 802px;
        border: 36px solid rgba(10, 62, 108, 0.5);
        border-left-color: rgba(10, 136, 180, 0.5);
        border-right-color: rgba(113, 62, 38, 0.7);
        border-top-color: rgba(10, 136, 180, 0.5);
        margin: 0 auto;
        border-radius: 50%;
        .node {
          circle {
            fill: rgba(123,80,71,.8);
          }
          text {
            font: 20px sans-serif;
            fill: #FFF;
          }
        }
        .node--internal {
          display: none;
          circle {
            fill: rgba(123,80,71,.8);
          }
          text {
            text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
          }
        }
        .link {
          fill: none;
          stroke: rgb(185, 104, 87);
          stroke-opacity: 0.4;
          stroke-width: 3.5px;
          &:nth-child(1),
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .nest-wrap {
      width: 100%;
      height: 100%;
      padding: 50px 80px;
      overflow: hidden;
      background: url("../assets/images/standard_made_content.png") center no-repeat;
      background-size: 100%;
      .inner-wrap {
        width: 100%;
        height: 100%;
      }
      .nav {
        width: 78px;
        height: 140px;
        background: #339933;
        display: inline-block;
        position: relative;
        line-height: 58px;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        float: left;
        s {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden;
          position: absolute;
          border-right: 42px solid #339933;
          border-bottom: 70px dotted transparent;
          border-top: 70px dotted transparent;
          right: 78px;
        }
        b {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden;
          position: absolute;
          border-left: 42px solid #339933;
          border-top: 70px dotted transparent;
          bottom: 0;
          left: 78px;
          border-bottom: 70px dotted transparent;
        }
        &.a0 {}
        &.a1 {}
        &.a2 {}
        &.a3 {}
        &:hover {
          background: #8CBF26;
          color: #333333;
          s {
            border-right-color: #8CBF26;
          }
          b {
            border-left-color: #8CBF26;
          }
        }
      }
    }
  }
}
.main-svg {
  background: rgba(255,255,255,0) !important;
}
.plotly{
  width:100%;
  height:100%;
}
@-webkit-keyframes slideInLeftLight {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInLeftLight {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
