<div class='section city-datamap'>
  <h1 class='text-center'>崇州城市数据图谱</h1>
  <div class='content'>
    <div class='data-category'>
      <h2>数据目录</h2>
      <div class='data-chart'>
        <div class='social-data'>
          <div class='empty-row'></div>
          <div class='ball'>
            <h4>已采集数据量</h4>
            <p>31亿+</p>
          </div>
          <div class='data-desc'>
            <h3>社会化数据</h3>
            超31亿数据规模，实时更新<br/>
            数据来源真实可靠
          </div>
        </div>
        <div class='gov-data'>
          <div class='empty-row'></div>
          <div class='ball'>
            <h4>已采集数据量</h4>
            <p>125.267万</p>
          </div>
          <div class='data-desc'>
            <h3>政务数据</h3>
            12个部门政务系统对接采集科学、<br/>
            系统、全面的数据分析模型
          </div>
        </div>
      </div>
    </div>
    <div class='data-map'>
      <h2>数据图谱</h2>
      <div class='map-chart'>
        <div wiserv-map-text style='position:absolute;top:-40px;left:-32px'></div>
        <div wiserv-map-text-down style='position:absolute;top:-16px;right:-28px'></div>
        <div wiserv-map-chart style='width:100%;'></div>
      </div>
    </div>
  </div>
</div>
